@using Microsoft.AspNetCore.Identity
@model Insect_Tracker.Models.Ticket
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Tickets";
    Layout = "_LayoutDashboard";
}

<h1 class="mt-4">@Html.DisplayFor(model => model.Title)</h1>

@{
    if (!Model.Closed)
    {
        <span class="badge rounded-pill bg-danger mb-3">Unsolved</span>
    }
    else
    {
        <span class="badge rounded-pill bg-success">Solved</span>
    }
}

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="~/">Home</a></li>
    <li class="breadcrumb-item"><a href="~/Tickets/">Tickets</a></li>
    <li class="breadcrumb-item active">@Html.DisplayFor(model => model.Title)</li>
</ol>

@foreach (var comment in Model.Comments)
{
    <div class="card mb-3">
        <div class="card-header">
            @comment.DateSent
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    @{
                        if (comment.Author.ProfilePicture == null)
                        {
                            <img src="~/images/blank-profile-wanderer-creative.png" class="user-pic" />
                        }
                        else
                        {
                            <img src="@comment.Author.ProfilePicture" class="user-pic" />
                        }
                    }

                    <strong>@comment.Author.FirstName @comment.Author.LastName</strong><br>
                    @string.Join(", ", UserManager.GetRolesAsync(comment.Author).Result.ToList())
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 mt-3">
                    @comment.Message
                </div>
            </div>

            <div class="mt-3">
                Attachments:

                @foreach (Attachment attachment in comment.Attachments)
                {
                    <a href="~/attachments/@attachment.File">@attachment.FileName</a>
                }
            </div>
        </div>
        <div class="card-footer">
            <a asp-controller="Comment" asp-action="Edit" asp-route-id="@comment.Id">Edit</a> | <a asp-controller="Comment" asp-action="Delete" asp-route-id="@comment.Id">Delete</a> | <a href="#">New attachment</a>
        </div>
    </div>
}

<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    @if (Model.Closed)
    {
        <a class="btn btn-primary" asp-action="Reopen" asp-route-id="@Model.Id">Reopen</a>
    }
    else
    {
        <a class="btn btn-primary" asp-action="Close" asp-route-id="@Model.Id">Close</a>
    }
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>